<div class='vdi-drag-n-drop flex-container'>
  {{yield (hash
      state=state
      stopUpload=(action 'cancelUpload')
      progress=progress) 
  }}
  <div class='drag-n-drop-area transition-enabled-2'>
    <div class='element-active-state message'>
      <span class='text transition-enabled-2'>Drop your file here</span>
    </div>
  </div>
</div>
