<div class='vdi-drag-n-drop flex-container'>
  {{yield (hash getUploadState=getUploadState) }}
  <div class='drag-n-drop-area transition-enabled-1'>
    <div class='element-active-state message'>
      <span class='text'>Drop your file here</span>
    </div>
  </div>
</div>
