
<div style="height: 80%">
	<md-list role="list">
		<md-list-item class="md-3-line" ng-repeat="service in servicesCtrl.services" ng-click="servicesCtrl.toggle(service)">
			<ng-md-icon ng-if="service.Status === 'available'" icon="{{service.Ico}}"
				ng-style="{'color': '{{ servicesCtrl.colors[service.Status] }}'}" ></ng-md-icon>
			<ng-md-icon ng-if="service.Status === 'running'" icon="{{service.Ico}}"
				ng-style="{'color': '{{ servicesCtrl.colors[service.Status] }}'}" ></ng-md-icon>
        <i ng-if="service.Status === 'booting'" class="fa fa-spinner fa-spin fa-2x" ng-style="{'margin-right':'10px','color':'green'}">  </i>
			<div class="md-list-item-text" layout="column">
				<h3>{{ service.DisplayName }}</h3>
				<p>Status : <strong>{{ service.Status }}</strong></p>
				<p ng-if="!service.Locked">
					Please click <strong style="color: #2980b9">here</strong> to
					<strong ng-if="service.Status === 'available'">boot</strong>
					<strong ng-if="service.Status === 'running'">power down</strong>
					this service
				</p>
			</div>
		</md-list-item>

		<md-list-item class="md-3-line" ng-if="servicesCtrl.servicesSvc.windowsReady === false" ng-click="servicesCtrl.startWindowsDownload($event)">
			<ng-md-icon icon="windows"></ng-md-icon>
			<div class="md-list-item-text" layout="column">
				<h3>Windows</h3>
				<div ng-if="servicesCtrl.servicesSvc.downloadStarted">
					<p>Download in progress (~6 GB). This may take a while.</p>
					<md-progress-linear md-mode="indeterminate"></md-progress-linear>
				</div>
				<p ng-if="servicesCtrl.servicesSvc.downloadStarted === false">
					<ng-md-icon icon="arrow_back"></ng-md-icon> Please click on the Windows button to install it
				</p>
			</div>
		</md-list-item>

	</md-list>
</div>
