<div class="section">
  <h4>
    {{#link-to 'protected.machines' }}
      Machines
    {{/link-to}}
  </h4>

  <div class='content-wrapper machines-wrapper'>
    {{#each machines as |machine|}}
      {{machine-item machine=machine}}
    {{else}}
      <div class="alert alert-info" role="alert">
        <strong>You are one click way from having your favorite apps accessible from your web browser</strong>
        <br />
        Click "Download Windows" to download the Windows Virtual machine that will host your applications
      </div>

      {{#if (is-equal driverName "aws")}}
        {{#link-to 'protected.machines.new' class="btn btn-primary btn-block"}}
         Create Machine
        {{/link-to}}
      {{else}}
        <button {{action "downloadWindows"}} class='btn btn-primary btn-block'>
          Create Machine
        </button>
      {{/if}}
    {{/each}}
  </div>
</div>
