@import "variables";

@import "bower_components/bootstrap/scss/bootstrap";

@import "icons";
@import "sidebar";
@import "login";

html, body {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

.ember-application > .ember-view {
  width: 100%;
  height: 100%;
}

.main-navbar {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	height: 60px;
}

.section {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	background: $gray-lightest;
}

.loading-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
