@import "variables";

@import "bower_components/bootstrap/scss/bootstrap";

@import "icons";
@import "sidebar";
@import "login";
@import "drag_n_drop";

html, body {
	width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: lighter;
}

h1 {
  margin-bottom: 40px;
}

.ember-application > .ember-view {
  width: 100%;
  height: 100%;
}

.main-navbar {
  position: fixed;
  right: 0;
  top: 0;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  width: calc(100% - 250px);
}

@media (max-width: 991px) {
  .main-navbar {
    width: 100%;
  }
}

.section {
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
	background: $gray-lightest;
  padding: 20px 0 0 20px;
}

.loading-page {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transition-enabled {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.animation {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.opacity-0 {
  opacity: 0;
}

.opacity-1 {
  opacity: 1;
}
