
.icon-col,
.applications-icon {
  width: 30px;
}

.application-table {
  cursor: pointer;
  color: $blue-default;

  & tr:hover{
    text-decoration: underline;
  }
}

.drag-drop-wrapper {
  margin-bottom: 20px;
}

.application-table {
  margin-top: 20px;
}

