
.icon-col,
.applications-icon {
  width: 30px;
}

.action-btn-wrapper {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 10px;
  }
}

.application-table {
  color: $blue-default;
  font-size: 15px;

  & .link:hover{
    text-decoration: underline;
  }

  & td .icon i {
    position: relative;
    top: 6px;
  }
}

.drag-drop-wrapper {
  margin-bottom: 20px;
}

.application-table {
  margin-top: 20px;
}

