.confirm-input {
  button {
    border: none;
    background: none;
    cursor: pointer;
  }
  .edit-mode-icon,
  .controls-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  input {
    border: none;
    background: none;
    cursor: pointer;
    background-color: $blue-lighter;
    padding: 5px 3px 3px 10px;
  }

  .edit {
    font-size: 17px;
  }
}
