.editText {
  .edit-mode-icon,
  .controls-wrapper {
    display: inline-block;
    vertical-align: middle;
  }

  input {
    background-color: $blue-lighter;
    padding: 5px 3px 3px 10px;
  }

  .edit {
    font-size: 17px;
  }
}
