@keyframes nanoloading {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.nano-loading {  
  color: $blue-default;
  @extend .transition-enabled;
  animation-name: nanoloading;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin-right: 10px;
}

