.machines {

  .refresh-notification {
    font-size: 11px;
    height: 20px;
    padding: 1px 4px;
    position: relative;
    bottom: 2px;
  }

  .machines-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    
    .item {
      flex-basis: 47%;
      margin-right: 20px;
    }

    .machine {
      
      .card {
        border: 1px solid #F5F5F5;
        &:hover {
          border: 1px solid $blue-default;
        } 
      }
    }
  }
}

@media (max-width: 750px) {
  .machines-wrapper {
    .item {
      flex-basis: 100% !important;
      margin-right: 0 !important;
    }
  }
}

@media (min-width:1800px) {
  .machines-wrapper {
    .item {
      flex-basis: auto !important;
    }
  }
}
