
.machine {
  width: 254px;
  padding: 20px 20px 20px 45px;
  box-shadow: 0 0 3px #87C1E8;

}

.machine-status {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 20px;
  left: 35px;
  position: absolute;

  &.unknown {
    background-color: #F45835;
  }

	&.down {
    background-color: #CDCDCD;
  }

	&.up {
    background-color: #2CC24E;
  }

	&.terminated {
    background-color: #525252;
  }

	&.booting {
    background-color: #F4B835;
  }

	&.downloading {
    background-color: #8EDAFB;
  }
}
