.ember-modal-fullscreen {
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0;
}

.remote-session-topbar {
  height: $topbar-height;
  background-color: $topbar-background-color;
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
  overflow: hidden;

  .left {
    display: flex;
  }

  .right {
    display: flex;
  }
}

.canva-fullscreen {
  width: 100%;
  height: calc(100% - #{$topbar-height});
}
