# Packer
packer_cache/

# Ignore build outputs
modules/iaas/iaas
nanocloud/nanocloud
nanocloud/tmp

# Ignore IaaSAPI Windows image in dev mode
installation_dir/images/windows-custom-server-127.0.0.1-windows-server-std-2012R2-amd64.qcow2

# Ignore Java IDE file
modules/canva/guacamole-client/noauth-logged/.idea
modules/canva/guacamole-client/noauth-logged/target
modules/canva/guacamole-client/noauth-logged/*.iml

# Ignore frontend libs
webapp/node_modules/
webapp/bower_components/
webapp/typings/
webapp/.tscache/
webapp/website/js/
webapp/website/css/
webapp/website/fonts/
modules/canva/frontend/async-disk-cache/

# Ignore Windows Build artifact
windows/output-windows-2012R2-qemu/

# vendors
vendor

# Binary files
*.exe
