[submodule "vendor/src/github.com/Nanocloud/nano"]
	path = vendor/src/github.com/Nanocloud/nano
	url = https://github.com/Nanocloud/nano
[submodule "vendor/src/github.com/Sirupsen/logrus"]
	path = vendor/src/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus
[submodule "vendor/src/github.com/streadway/amqp"]
	path = vendor/src/github.com/streadway/amqp
	url = https://github.com/streadway/amqp
[submodule "vendor/src/github.com/streamrail/concurrent-map"]
	path = vendor/src/github.com/streamrail/concurrent-map
	url = https://github.com/streamrail/concurrent-map
