# Packer
packer_cache/

# Ignore build outputs
modules/build_output
webapp/website/css/app.min.css

# Ignore currently used Nanocloud channel
installation_dir/channel

# Ignore IaaSAPI Windows image
installation_dir/downloads/windows-custom-server-127.0.0.1-windows-server-std-2012R2-amd64.qcow2
installation_dir/images/windows-custom-server-127.0.0.1-windows-server-std-2012R2-amd64.qcow2
installation_dir/pid/windows-custom-server-127.0.0.1-windows-server-std-2012R2-amd64.pid

# Ignore Java IDE file
modules/canva/guacamole-client/noauth-logged/.idea
modules/canva/guacamole-client/noauth-logged/target
modules/canva/guacamole-client/noauth-logged/*.iml

# Ignore frontend libs
webapp/node_modules/
webapp/bower_components/
webapp/typings/
webapp/.tscache/
webapp/website/js/
