# Packer
packer_cache/

# Ignore build outputs
dockerfiles/build_output

# Ignore currently used Nanocloud channel
installation_dir/channel

# Ignore IaaSAPI Windows image
installation_dir/downloads/windows-custom-server-127.0.0.1-windows-server-std-2012R2-amd64.qcow2
installation_dir/images/windows-custom-server-127.0.0.1-windows-server-std-2012R2-amd64.qcow2
installation_dir/pid/windows-custom-server-127.0.0.1-windows-server-std-2012R2-amd64.pid
