
<div layout="row" layout-fill>

	<md-sidenav class="md-sidenav-left md-whiteframe-z2 main-sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
		
		<header>
			<a href="#/admin"><img class="logo" src="./img/logo.png" style="width:50%; margin:10px 0;" /></a>
		</header>

		<md-content role="navigation">
			<md-list>
				<md-list-item ng-repeat="menu in mainCtrl.menus" ng-click="mainCtrl.navigateTo(menu);" ng-class="[{ 'md-primary': mainCtrl.activeMenu.url == menu.url }]">
					<div>
						<ng-md-icon icon="{{menu.ico}}"></ng-md-icon> 
						<span>{{menu.title}}</span>
					</div>
				</md-list-item>
			</md-list>
		</md-content>

	</md-sidenav>

	<div role="main" class="main-content" layout="column" flex>

		<md-toolbar>
			<div class="md-toolbar-tools">

				<md-button ng-click="mainCtrl.toggleMenu()" class="md-icon-button md-primary" hide-gt-md aria-label="Menu">
					<ng-md-icon icon="menu"></ng-md-icon>
				</md-button>

				<span>{{mainCtrl.activeMenu.title}}</span>

				<!-- fill up the space between left and right area -->
				<span flex></span>

				<md-input-container ng-if="mainCtrl.user" style="overflow:hidden;">
					<label>{{mainCtrl.user}}</label>
					<md-select ng-model="usermenu" ng-change="mainCtrl.logout()">
						<md-optgroup label="{{mainCtrl.user}}">
							<md-option value="logout">Sign out</md-option>
						</md-optgroup>
					</md-select>
				</md-input-container>

			</div>
		</md-toolbar>

		<md-progress-linear md-mode="query" id="coreSpinner" style="visibility:hidden;"></md-progress-linear>

		<md-content ui-view md-scroll-y flex layout-padding></md-content>

		<footer>
			<div layout="row" layout-align="end center">
				<a href="http://www.nanocloud.com/" target="_blank">Powered by Nanocloud {{mainCtrl.appInfo.version}}</a>
			</div>
		</footer>

	</div>

</div>
