{{#link-to 'protected.machines.machine' machine}}
<div class="machine">
  <div class='state-color {{machine.status}}'></div>
  <div class="machine-status">
    <i class='material-icons'>computer</i>
  </div>
  <span class='title'>
    {{machine.name}}
  </span>
</div>
{{/link-to}}
