<div class="section">
 <h4> 
    {{#link-to 'protected.machines' }}
      Machines
    {{/link-to}}
   - New machine</h4>
  <div class='content-wrapper form'>
    <form {{action 'createMachine' on='submit'}}>
      <fieldset class="form-group">
        <label>Give a name to your machine</label>
        {{input type="text" class='form-control' value=machineName placeholder="Machine Name"}}
      </fieldset>
      <fieldset class="form-group">
        <label>.. and a password because security is important!</label>
        {{input type="password" class='form-control' value=adminPassword placeholder="Administrator Password"}}
      </fieldset>

      <fieldset class="form-group">
        <label>Type:</label>

        <ul>
        {{#each types as |type|}}
          <li>{{type.name}}</li>
        {{/each}}
        </ul>

      </fieldset>



      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
