
<md-dialog style="width: 400px;">
	<form name="userCtrl.userForm">
		
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>User</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="userCtrl.$mdDialog.cancel()">
					<ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>
		
		<md-dialog-content>
			<div class="md-dialog-content" layout="column">
				<md-input-container flex ng-if="userCtrl.isCreation">
					<label>First name</label>
					<input ng-model="userCtrl.user.FirstName" required class="dialog-close" />
					<!-- dialog-close adds focus -->
				</md-input-container>
				<md-input-container flex ng-if="userCtrl.isCreation">
					<label>Last Name</label>
					<input ng-model="userCtrl.user.LastName" required />
				</md-input-container>
				<md-input-container flex ng-if="userCtrl.isCreation">
					<label>Email</label>
					<input type="email" ng-model="userCtrl.user.Email" required />
				</md-input-container>
				<md-input-container flex>
					<label>Password</label>
					<input type="password" ng-model="userCtrl.user.Password" required />
				</md-input-container>
				<md-input-container flex>
					<label>Confirm password</label>
					<input type="password" ng-model="userCtrl.user.Password2" required />
					<div ng-messages="required" ng-show="userCtrl.checkPassword(userCtrl.user) === false">
						<div ng-message="required">
							{{ userCtrl.userFormErrorMessage }}
						</div>
					</div>
				</md-input-container>
			</div>
		</md-dialog-content>
		
		<md-dialog-actions>
			<md-button ng-click="userCtrl.cancel()">
				Cancel
			</md-button>
			<md-button type="submit" ng-click="userCtrl.save()">
				Save
			</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>
