{{#if isVisible}}
  {{#modal-dialog renderInPlace=true containerClassNames="ember-modal-fullscreen"
  attachment="" targetAttachment=""}}
  <div class="ember-modal-fullscreen">
    <div class="remote-session-topbar">
      <button {{ action "toggleSingleTab" }}>Close</button>
    </div>
   <div class="canva-fullscreen">
     {{yield}}
   </div>
   </div>
  {{/modal-dialog}}
{{/if}}
