guacamole-client:
 build: ./
 dockerfile: guacamole-client/Dockerfile
 links:
  - guacamole-server:guacd
  - ambassador:proxy
 volumes:
  - ./guacamole-client/guac_home/guacamole.properties:/etc/guacamole/guacamole.properties
  - ./guacamole-client/guac_home/noauth-config.xml:/etc/guacamole/noauth-config.xml
guacamole-server:
 image: glyptodon/guacd
nanocloud-backend:
 build: ./
 dockerfile: nanocloud-backend/Dockerfile
 environment:
  - ENV=production
  - AMQP_URI=amqp://guest:guest@rabbitmq:5672/
  - DATABASE_URI=postgres://nanocloud@postgres/nanocloud?sslmode=disable
  - PORT=8081
  - FRONT_DIR=front/
 links:
  - guacamole-client:guacamole
  - postgres:postgres
  - rabbitmq:rabbitmq
 volumes:
  - ./nanocloud-backend/conf/ldaprc:/etc/ldap/ldap.conf:ro
  - ./nanocloud-backend/conf/ad2012.cer:/opt/conf/ad2012.cer:ro
  - ./guacamole-client/guac_home/noauth-config.xml:/opt/conf/noauth.xml
 volumes_from:
  - guacamole-client
proxy:
 image: nginx
 volumes:
  - ./nginx/conf/nginx.conf:/etc/nginx/conf.d/default.conf:ro
  - ./nginx/conf/certificates:/etc/nginx/ssl/:ro
 links:
  - nanocloud-backend:nanocloud-api
  - ambassador:guacamole-client
 ports:
  - 80:80
  - 443:443
ambassador:
 image: cpuguy83/docker-grand-ambassador
 volumes:
 - "/var/run/docker.sock:/var/run/docker.sock"
 command: "-name dockerfiles_guacamole-client_1 -name dockerfiles_proxy_1 "
rabbitmq:
  image: rabbitmq
postgres:
 image: postgres
 volumes:
  - ./postgres:/var/lib/postgresql/data/pgdata
 environment:
  - PGDATA=/var/lib/postgresql/data/pgdata
  - POSTGRES_USER=nanocloud
apps-module:
 dockerfile: Dockerfile-apps
 build: .
 links:
  - rabbitmq:rabbitmq
 environment:
  - ENV=production
  - AMQP_URI=amqp://guest:guest@rabbitmq:5672/
  - USER=Administrator
  - SSH_PORT=1119
  - RDP_PORT=3389
  - SERVER=10.0.2.2
  - PASSWORD=Nanocloud123+
  - XML_CONFIGURATION_FILE=/opt/conf/noauth.xml
  - WINDOWS_DOMAIN=intra.localdomain.com
  - EXECUTION_SERVERS=10.0.2.2
history-module:
 dockerfile: Dockerfile-history
 build: .
 links:
  - postgres:postgres
  - rabbitmq:rabbitmq
 environment:
  - ENV=production
  - AMQP_URI=amqp://guest:guest@rabbitmq:5672/
  - DATABASE_URI=postgres://nanocloud@postgres/nanocloud?sslmode=disable
iaas-module:
 dockerfile: Dockerfile-iaas
 build: .
 links:
  - rabbitmq:rabbitmq
 environment:
  - ENV=production
  - AMQP_URI=amqp://guest:guest@rabbitmq:5672/
  - API_URL=http://10.0.2.2
  - API_PORT=8082
ldap-module:
 dockerfile: Dockerfile-ldap
 build: .
 links:
  - rabbitmq:rabbitmq
 environment:
  - ENV=production
  - AMQP_URI=amqp://guest:guest@rabbitmq:5672/
  - USERNAME=CN=Administrator,CN=Users,DC=intra,DC=localdomain,DC=com
  - PASSWORD=Nanocloud123+
  - SERVER_URL=ldaps://10.0.2.2:6360
users-module:
 dockerfile: Dockerfile-users
 build: .
 links:
  - postgres:postgres
  - rabbitmq:rabbitmq
 environment:
  - ENV=production
  - AMQP_URI=amqp://guest:guest@rabbitmq:5672/
  - DATABASE_URI=postgres://nanocloud@postgres/nanocloud?sslmode=disable
