[Unit]
Description=Nanocloud
After=nanocloud.architecture.service
Requires=nanocloud.architecture.service

[Service]
TimeoutStartSec=0
ExecStart=/home/core/community/dockerfiles/docker-compose -f /home/core/community/dockerfiles/docker-compose.yml up -d nanocloud-backend proxy

[Install]
WantedBy=multi-user.target
