<div class="section">
  <h4>
    {{#link-to 'protected.users' }}
      Users 
    {{/link-to}} - {{model.fullName}} 
    {{#if model.isAdmin}}
      <i class="material-icons va-top">verified_user</i>
    {{/if}}
  </h4>
  <div class='content-wrapper'>
    <table class="table user-table">
      <tbody>
        <tr>
          <th scope="row">Email address</th>
          <td>{{model.email}}</td>
        </tr>
        <tr>
          <th scope="row">Password</th>
          <td>
            {{#edit-text
                hideInput=true
                confirmation=true
                textInput=model.password
                textInputPlaceholder="Password"
                confirmInput=passwordConfirmation
                confirmInputPlaceholder="Confirmation"
                onClose="changePassword" }}
              ******
            {{/edit-text}}
          </td>
        </tr>
        <tr>
          <th scope="row">UUID</th>
          <td>{{model.id}}</td>
        </tr>
        {{#unless model.isAdmin }}
          <tr>
            <th scope="row">Delete Account</th>
            <td>
              {{ remove-user action="removeDone" }}
            </td>
          </tr>
        {{/unless}}

      </tbody>
    </table>
  </div>
</div>
