<div class="connection-histories section">
  <h4>
    History 
  </h4>
  <p class="color-primary indication connection-histories-indication">
    <span class='text'>History gives you information regarding your user's sessions</span>
    <button {{ action "refreshModel" }} class="btn btn-info">Reload</button> 
  </p>
  <div class='content-wrapper'>
    {{#if modelIsEmpty}}
      No entries 
    {{else}}
      {{models-table
        class="sortableTable"
        data=data
        columns=columns
        showColumnsDropdown=false
        customMessages=sortableTableConfig.messageConfig
        customIcons=sortableTableConfig.customIcons
        customClasses=sortableTableConfig.customClasses
        useNumericPagination=true
        multipleColumnsSorting=false
      }}
    {{/if}}
    <div class="clearfix"></div>
  </div>

</div>
