<md-dialog style="width: 400px;">
	<form name="userCtrl.userForm">

		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>Application name</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="applicationCtrl.$mdDialog.cancel()">
					<ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
		  <div class="md-dialog-content" layout="column">
		    <md-input-container class="md-block">
		      <input ng-model="applicationCtrl.name" type="text" placeholder="Name" ng-required="true" />
		    </md-input-container>
		  </div>
		</md-dialog-content>

		<md-dialog-actions>
			<md-button class="md-warn" ng-click="applicationCtrl.resetName()">
				Reset
			</md-button>
			<md-button ng-click="applicationCtrl.$mdDialog.cancel()">
				Cancel
			</md-button>
			<md-button type="submit" ng-click="applicationCtrl.save()">
				Save
			</md-button>
		</md-dialog-actions>

	</form>
</md-dialog>
