
<div role="main" class="main-content" layout="column" flex>

	<md-toolbar>
		<div class="md-toolbar-tools">
			<img src="./img/logo.png" class="logo" />
			<span flex=""></span>
			<div class="md-toolbar-item" ng-if="presenterCtrl.user">
				<md-input-container>
					<label>{{presenterCtrl.user}}</label>
					<md-select ng-model="usermenu" ng-change="presenterCtrl.logout()">
						<md-optgroup label="{{presenterCtrl.user}}">
							<md-option value="logout">Sign out</md-option>
						</md-optgroup>
					</md-select>
				</md-input-container>
			</div>
		</div>
	</md-toolbar>

	<div layout layout-margin layout-align="center">
		<md-card flex-sm="90" flex-gt-sm="60" flex-gt-lg="35">
			<md-card-content>
				<md-list>
					<md-list-item ng-click="presenterCtrl.openApplication(application, $event)"
							class="md-2-line" ng-repeat="application in presenterCtrl.applications">
						<ng-md-icon icon="pageview"></ng-md-icon>
						<div class="md-list-item-text">
							<h3> {{ application.ConnectionName }} </h3>
							<p> {{ application.RemoteApp }} </p>
						</div>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>

</div>
