<div style="height: 80%">
	<md-list>
		<div ng-repeat="service in servicesCtrl.services">
			<md-switch class="md-primary" ng-model="service.Running" ng-disabled="service.Locked"
				ng-change="servicesCtrl.toggle(service)" aria-label="Running">
				<ng-md-icon icon="{{service.Ico}}"></ng-md-icon>
				<span>{{service.DisplayName}}</span>
				<md-tooltip>
					<span ng-if="service.Running">This service is currently running</span>
					<span ng-if="!service.Running">This service is available but not currently running</span>
				</md-tooltip>
			</md-switch>
		</div>
	</md-list>
	<div ng-if="servicesCtrl.servicesSrv.windowsReady === false && servicesCtrl.servicesSrv.downloadStarted === false">
		<md-button ng-click="servicesCtrl.startWindowsDownload($event)" class="md-raised md-primary" aria-label="Downloas windows service">
			<md-tooltip>Download windows service</md-tooltip>
			<ng-md-icon icon="windows"></ng-md-icon>
		</md-button>
		<ng-md-icon icon="arrow_back"></ng-md-icon> Please click on the Windows button to install it
	</div>
	<div ng-if="servicesCtrl.servicesSrv.downloadStarted">
		<p>Download in progress (~6 GB). This may take a while.</p>
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
	</div>
</div>
