<md-dialog style="min-width: 300px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{ serviceCtrl.service.DisplayName }} Service</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="serviceCtrl.$mdDialog.cancel()">
				<ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="column">
      <p>Display EULA licence</p>
      <p>User must accept this</p>
      <p>We HAVE to know if the user has accepted it or not</p>
		</div>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<md-button ng-click="serviceCtrl.accept()" class="md-primary">
			Accept
		</md-button>
		<md-button ng-click="serviceCtrl.close()">
			Close
		</md-button>
	</div>
</md-dialog>
