<md-dialog style="min-width: 300px;">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Service {{ serviceCtrl.service.Name }}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="serviceCtrl.$mdDialog.cancel()">
				<ng-md-icon icon="close" aria-label="Close dialog"></ng-md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<md-dialog-content>
		<div layout="column">
      <p>Display info about service</p>
		</div>
	</md-dialog-content>
	<div class="md-actions" layout="row">
		<md-button ng-click="serviceCtrl.close()">
			Close
		</md-button>
		<md-button ng-click="serviceCtrl.start()">
			Start
		</md-button>
		<md-button ng-click="serviceCtrl.stop()">
			Stop
		</md-button>
	</div>
</md-dialog>
