<div class='card'>
  <div class="card-header">
    {{ title }}
  </div>
  <div class="card-block">
    <blockquote class="card-blockquote">
      <h1>
        {{ content }}
      </h1>
    </blockquote>
  </div>
</div>
