<div class="section p-a-2">
  {{drag-n-drop}}<br/>
  <h1>Applications</h1>
  <table class="table application-table">
    <tbody>
      {{#each model as |application|}}
        {{#unless user.isNew}}
          <tr>
            <td class='icon-col'>
              {{#if application.iconContent}}
                <img class='applications-icon' src="data:image/png;base64, {{ application.iconContent}}">
              {{else}}
                <i class='material-icons'>video_label</i>
              {{/if}}
            </td>
            <td>{{application.alias}}</td>
          </tr>
        {{/unless}}
      {{/each}}
    </tbody>
  </table>
  <div class="clearfix"></div>
</div>
