<div role="main" class="main-content" layout="column" flex>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<img src="./img/logo.png" class="logo" style="height: 75%;"/>
			<span flex=""></span>
			<div class="md-toolbar-item" ng-if="presenterCtrl.user">
				<md-input-container>
					<label>{{presenterCtrl.user}}</label>
					<md-select ng-model="usermenu" ng-change="presenterCtrl.logout()">
						<md-optgroup label="{{presenterCtrl.user}}">
							<md-option value="logout">Sign out</md-option>
						</md-optgroup>
					</md-select>
				</md-input-container>
			</div>
		</div>
	</md-toolbar>

	<md-content>
		<md-card>
			<md-card-content>
				<h2 class="md-title">Upload your files</h2>
				<div flow-init="{target: '/upload'}"
					flow-files-submitted="$flow.upload()"
					flow-file-success="$file.msg = $message">
					<div class="drop-box" ng-style="style"
						flow-drag-enter="style={border:'4px solid #4183D7'}" flow-drag-leave="style={}"
						flow-drop flow-btn>
						Drag And Drop your file here
					</div>

					<md-list>
						<md-list-item ng-repeat="file in $flow.files" class="md-2-line">
							<md-icon md-svg-icon="file"></md-icon>
							<div class="md-list-item-text">
								<h3>{{ $index + 1 }} - {{ file.name }} {{ presenterCtrl.percentDone(file) }}%</h3>
								<md-progress-linear md-mode="determinate" value="{{ presenterCtrl.percentDone(file)}}"></md-progress-linear>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</md-card-content>
		</md-card>

		<md-card>
			<md-card-content>
				<h2 class="md-title" ng-if="presenterCtrl.applications.length > 0">Your applications</h2>
				<md-list>
					<md-list-item ng-click="presenterCtrl.openApplication(application, $event)"
							class="md-2-line" ng-repeat="application in presenterCtrl.applications">
						<ng-md-icon icon="pageview"></ng-md-icon>
						<div class="md-list-item-text">
							<h3> {{ application.Application }} </h3>
						</div>
					</md-list-item>
					<md-list-item ng-if="presenterCtrl.applications.length === 0">
						<div class="md-list-item-text">
							<h4>You don't have access to any applications</h4>
							<p>Contact your administrator for more information</p>
						</div>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</md-content>
</div>
