body {
    background: black;
    overflow: hidden;
}

.guac-session {
    overflow: hidden
}

.ember-modal-dialog {
    background-color: #fff;
    padding: 10px;
}
.ember-modal-overlay.translucent {
    background-color: rgba(#808080, .77);
}

.ember-modal-overlay {
    height: 100vh;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 50;
}

.ember-modal-dialog {
    z-index: 50;
    position: fixed;
}

.ember-modal-dialog .ember-modal-dialog-in-place {
    position: relative;
}
