[submodule "vendor/github.com/labstack/echo"]
	path = vendor/github.com/labstack/echo
	url = https://github.com/labstack/echo.git
[submodule "vendor/github.com/lib/pq"]
	path = vendor/github.com/lib/pq
	url = https://github.com/lib/pq.git
[submodule "vendor/github.com/Sirupsen/logrus"]
	path = vendor/github.com/Sirupsen/logrus
	url = https://github.com/Sirupsen/logrus.git
[submodule "vendor/github.com/satori/go.uuid"]
	path = vendor/github.com/satori/go.uuid
	url = https://github.com/satori/go.uuid.git
[submodule "vendor/github.com/labstack/gommon"]
	path = vendor/github.com/labstack/gommon
	url = https://github.com/labstack/gommon.git
[submodule "vendor/github.com/mattn/go-colorable"]
	path = vendor/github.com/mattn/go-colorable
	url = https://github.com/mattn/go-colorable.git
[submodule "vendor/github.com/mattn/go-isatty"]
	path = vendor/github.com/mattn/go-isatty
	url = https://github.com/mattn/go-isatty.git
[submodule "vendor/golang.org/x/crypto"]
	path = vendor/golang.org/x/crypto
	url = https://go.googlesource.com/crypto
[submodule "vendor/golang.org/x/net"]
	path = vendor/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "vendor/gopkg.in/asn1-ber.v1"]
	path = vendor/gopkg.in/asn1-ber.v1
	url = https://gopkg.in/asn1-ber.v1
[submodule "vendor/gopkg.in/ldap.v2"]
	path = vendor/gopkg.in/ldap.v2
	url = https://gopkg.in/ldap.v2
[submodule ".community"]
	path = .community
	url = https://github.com/Costent/nanocloud.git
