<div class="login-container">
  <div class="login-form">
    <div class="login-logo"></div>
    <h3 class="text-xs-center text-uppercase">Login</h3>
    <form {{action 'authenticate' on='submit'}}>
      <fieldset class="form-group">
        {{input class='form-control' autofocus=true placeholder='Username' value=identification}}
      </fieldset>
      <fieldset class="form-group">
        {{input class='form-control' placeholder='Password' type='password' value=password}}
      </fieldset>
        <button type="submit" class="btn btn-primary btn-block text-uppercase">Login</button>
      {{#if errorMessage}}
        <p>{{errorMessage}}</p>
      {{/if}}
    </form>
  </div>
</div>
