<!doctype html>
<html id="hapticFrontend" ng-app="hapticFrontend" ng-strict-di xmlns:ng="http://angularjs.org">
<head>
	<title>Nanocloud</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="css/libs.min.css" />
	<link rel="stylesheet" type="text/css" href="css/app.min.css" />
</head>
<body layout="row" ng-controller="MainCtrl as mainCtrl">

	<md-sidenav class="md-sidenav-left md-whiteframe-z2 main-sidenav"
		md-component-id="left"
		md-is-locked-open="$mdMedia('gt-md')">

		<header>
			<a href="#/"><img class="logo" src="./img/logo.png" /></a>
		</header>

		<md-content role="navigation">
			<md-list>
				<md-list-item ng-repeat="menu in mainCtrl.nav.menus" ng-click="mainCtrl.navigateTo(menu);">
					<div>
						<ng-md-icon icon="{{menu.ico}}"></ng-md-icon> 
						<span>{{menu.title}}</span>
					</div>
				</md-list-item>
			</md-list>
		</md-content>

	</md-sidenav>

	<div role="main" class="main-content" layout="column" flex>
		<md-toolbar>
			<div class="md-toolbar-tools">
				{{mainCtrl.nav.current.title}}
				<span flex=""></span>
				<div class="md-toolbar-item" ng-if="mainCtrl.user">
					<md-select aria-label="{{mainCtrl.user}}" aria-invalid="false" id="select_2"
						aria-expanded="false" role="combobox" aria-disabled="false" tabindex="0"
						ng-model="relatedPage" placeholder="{{mainCtrl.user}}"
						class="md-body-1 ng-pristine ng-valid ng-scope md-default-theme ng-touched">
						<md-select-value id="select_value_label_0" class="md-select-value md-select-placeholder">
							<span>{{mainCtrl.user}}</span>
							<span class="md-select-icon" aria-hidden="true"></span>
						</md-select-value>
					</md-select>
				</div>
			</div>
		</md-toolbar>

		<md-content ng-view md-scroll-y flex layout-padding></md-content>

	</div>

	<script src="js/libs.min.js"></script>
	<script src="js/app.min.js"></script>
	
</body>
</html>
