<!doctype html>
<html id="hapticFrontend" ng-app="hapticFrontend" ng-strict-di xmlns:ng="http://angularjs.org">
<head>
	<title>Nanocloud Community</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" type="text/css" href="css/libs.min.css" />
	<link rel="stylesheet" type="text/css" href="css/app.min.css" />
</head>
<body class="login" ng-controller="UserApplicationCtrl as userApplicationCtrl">

	<div layout layout-margin layout-align="center">
		<md-card flex-sm="90" flex-gt-sm="60" flex-gt-lg="35">
			<img src="./img/logo.png" class="logo" />
			<md-card-content>
				<md-list>
					<md-list-item ng-click="userApplicationCtrl.openApplication(application, $event)"
						class="md-2-line" ng-repeat="application in userApplicationCtrl.applications">
						<md-icon md-svg-icon="pageview"></md-icon>
						<div class="md-list-item-text">
							<h3> {{ application.ConnectionName }} </h3>
							<p> {{ application.RemoteApp }} </p>
						</div>
					</md-list-item>
				</md-list>
			</md-card-content>
		</md-card>
	</div>

	<script src="js/libs.min.js"></script>
	<script src="js/app.min.js"></script>
	
</body>
</html>
