<div class="section p-a-2">
  <h4>Files</h4>
  <div class='content-wrapper'>
    <div class='drag-drop-wrapper'>
      {{drag-n-drop}}
    </div>
    {{models-table
      class="sortableTable"
      data=data
      columns=columns
      showColumnsDropdown=false
      delete='downloadFile'
      customMessages=sortableTableConfig.messageConfig
      customIcons=sortableTableConfig.customIcons
      customClasses=sortableTableConfig.customClasses
      useNumericPagination=true
    }}
    <div class="clearfix"></div>
  </div>
</div>
